$bg-primary: rgba(30, 33, 58, 1);
$bg-secondary: rgba(16, 14, 29, 1);
$bg-tertiary: rgb(98, 100, 117);

$text-primary: rgba(231, 231, 235, 1);
$text-secondary: rgba(160, 159, 177, 1);
$bg-tertiary: rgba(136, 134, 157, 1);

$mobile-width: 600px;
$tablet-width: 1024px;
$main-font: Raleway, sans-serif;
